html {
  min-height:100%;
}

body {
  min-height:100%;
  margin: 0;
  background-size: auto;
  background: rgb(205,238,105);
  background: -moz-linear-gradient(135deg, rgba(205,238,105,0.5) 5%, rgba(119,223,216,0.5) 30%, rgba(239,255,0,0.5) 90%);
  background: -webkit-linear-gradient(135deg, rgba(205,238,105,0.5) 5%, rgba(119,223,216,0.5) 30%, rgba(239,255,0,0.5) 90%);
  background: linear-gradient(135deg, rgba(205,238,105,0.5) 5%, rgba(119,223,216,0.5) 30%, rgba(239,255,0,0.5) 90%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#cdee69",endColorstr="#efff00",GradientType=1);
}

