html {
    min-height: 100%;
}

body {
    min-height: 100%;
    margin: 0;
    background-size: auto;
    background: rgb(255, 255, 255);
    background: -moz-linear-gradient(
            150deg,
            rgb(200, 88, 73) 1%,
            rgb(196, 82, 124) 30%,
            rgb(192, 82, 146) 40%,
            rgb(163, 91, 174) 60%,
            rgb(97, 116, 200) 90%
    );
    background: -webkit-linear-gradient(
            150deg,
            rgb(200, 88, 73) 1%,
            rgb(196, 82, 124) 30%,
            rgb(192, 82, 146) 40%,
            rgb(163, 91, 174) 60%,
            rgb(97, 116, 200) 90%
    );
    background: linear-gradient(
            150deg,
            rgb(200, 88, 73) 1%,
            rgb(196, 82, 124) 30%,
            rgb(192, 82, 146) 40%,
            rgb(163, 91, 174) 60%,
            rgb(97, 116, 200) 90%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#cdee69", endColorstr="#efff00", GradientType=1);
}

